@import url(breadcrumb.css);
@import url(../accordeon/acc.css);

html {
    overflow-x: hidden;
}
body {
    font-family: 'Raleway', sans-serif;
}
h1 {font-size: 58px; font-weight: 500 ; line-height: 70px;}
h2 {font-size: 16px; font-weight: 400 ; line-height: 24px;}
h3 {font-size: 14px; font-weight: 400 ; line-height: 24px;}
h4 {font-size: 22px; font-weight: 500 ; line-height: 28px;}
a  {font-size: 16px; font-weight: 400 ;}
.f5 {font-weight: 500;}

ul {
    list-style: none;
    display: flex;
}

.green {
    color: white;
    background: #10B582;
}
.white {
    background: white;
    color: #353A5A;
    a {
        color: #353A5A;
        font-weight: 500;
    }
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

// Кнопка
.btn_y {
    background: #FA9F42;
    border-radius: 0px 20px;
    padding: 15px 28px;
    margin-top: 30px;
    width: 160px;
    text-align: center;
    &:hover {
        border-bottom: none;
    }
}
.btn_g {
    background: #10B582;
    border-radius: 0px 20px;
    padding: 15px 28px;
    margin-top: 30px;
    width: 160px;   
    text-align: center;
    &:hover {
        border-bottom: none;
    }
}

// Логотип
.logo {
    width: 170px;
    height: 22px;
}

// Ссылка
a {
    text-decoration: none;
    color: white;
    &:hover {
        border-bottom: 2px dashed #FA9F42;
}}


// Начало вёрстки
header {
    color: white;
    background: #10B582;
    padding-bottom: 120px;
    .start__ul {
        color: white;
        gap: 40px;
        justify-content: center;
        padding: 40px 20px 0;
        margin-bottom: 55px;
        }
    }
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__body {
    display: flex;
    gap: 44px;
    .left {
        display: flex;
        flex-direction: column;
        flex-basis: 30%;
        gap: 100px;
        .left__socials {
            display: flex;
            flex-direction: column;
            gap: 30px;
            a:hover {
                border-bottom: none; }
        }
    }
    .middle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        h1 {
            padding-top: 40px;
            padding-bottom: 20px;
        }
        h2 {
            padding-bottom: 50px;
        }
    }
    .right {
        display: flex;
        flex-direction: column;
        flex-basis: 30%;
        .call {
            margin-left: 200px;
            margin-top: 175px;
            transform: rotate(270deg);
            white-space: nowrap;
        }
    }
}

.header__white__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h4 {width: 870px;}
    h2 {width: 809px;}
    img {padding-bottom: 20px;}
}

// Учитесь у лучших
.teachnumber {
    display: flex;
    justify-content: space-between;
    padding: 120px 0px;
    flex-wrap: wrap;
}
.teachnumber2 {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
}
.teachnumber__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    max-width: 270px;
    h1 {
        color: #10B582;
    }
}
.teachtext {
    display: flex;
    gap: 100px;
    padding-bottom: 120px;
}
.teachtext__left {
    flex-basis: 500px;
    text-align: left;
    color: #353A5A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.teachtext__right {
    flex-basis: 570px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.teachtext__photo {
    width: 170px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    h3 {
        text-align: center;
    }
}

// Выберите свой формат обучения
.block2 {
    padding: 120px 0;
    display: flex;
    gap: 100px;
}
.block2-left {
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
}
.block2__right {
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
}

// Популярные курсы
.popular {
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    
}
.courses {
    display: flex;
    gap: 30px;
}
.courses__block__wrapper {
    background: #FDFDFD;
    box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
    border-radius: 10px;
    width: 270px;
    height: 226px;
}
.courses__block__wrapper2 {
    background: #FDFDFD;
    box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
    border-radius: 10px;
    width: 270px;
    height: 135px;
    padding-bottom: 25px;
}
.courses__block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 20px 0;
    h4 {
        font-weight: 500;
    }
    img {
        width: 230px;
        height: 155px;
    }
}
.courses__block2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px 15px;
    img { height: 16px; }
    .top { display: flex; gap: 8px; align-items: center;}
    h2 {font-weight: 500;}
}

// Call To Action
.cta {
    background-image: url(../images/banner.jpg);
    background-repeat: round;
    padding-bottom: 120px;
    margin-bottom: 120px;
}
.cta2 {
    background-image: url(../images/course-page/banner.jpg);
    background-repeat: round;
    padding-bottom: 120px;
    margin-bottom: 120px;
}
.cta__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 508px;
    padding-left: 50%;
    padding-top: 120px;
}

// Часто задаваемые вопросы
.faq {
    text-align: center;
    h1 {padding-bottom: 60px;}
}
// Подвал
.footer {
    display: flex;
    gap: 100px;
    padding-top: 80px;
    border-top: 1px solid rgba(53, 58, 90, .1);
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(53, 58, 90, .1);
}
.footer__left {
    flex-basis: 270px;
    display: flex;
    flex-direction: column;
    gap: 27px;
    
        ul {
            padding-top: 20px;
            display: flex;
            gap: 25px;
        }

}
.footer__right {
    display: flex;
    flex-basis: 782px;
    justify-content: space-around;
}
.footer__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .f5 {
        padding-bottom: 10px;
    }
}
.under {
    text-decoration: underline;
}
.footer2 {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    span {
        display: flex;
        gap: 30px;
    }
}

@media (max-width: 1100px) {
    .right img{ display: none; flex-basis: 0; }
    .right span { display: none; flex-basis: 0; }
    .left img{ display: none; flex-basis: 0; }
    .teach {padding: 0 2%;}
    .teachtext__right {justify-content: center;}
    .choose {
        padding: 0 2%;
        h1 {font-size: 40px; line-height: 1.3;}
    }
    .courses {flex-wrap: wrap; justify-content: center;}
    .cta__text h1 {padding-right: 20%; font-size: 40px; line-height: 1.3;}
    .cta__text h3 {padding-right: 10%;}
    footer {padding: 0 2%;}
}

@media (max-width: 900px) {
    .block2-left img {width: 100%;}
    .cta {background-size: 100%; background-repeat: space; margin-bottom: 0;}
    .cta__text {padding-top: 10px;}
    .cta h3 {max-width: 300px;}
    .cta__text {
        .btn_y {margin-top: 0;}}
}

@media (max-width: 800px) {
    .cta h1 {max-width: 300px; flex-wrap: normal;}
    .cta__text {padding-left: 44%; 
                gap: 2px;
    }

    .footer__right {flex-wrap: wrap;}
    .footer__text {gap: 1px; padding-bottom: 40px;}
}

@media (max-width: 700px) {
    h1 {font-size: 30px; line-height: 1.1;}
    header {
        ul {flex-wrap: wrap;}
        padding-bottom: 40px;
    }
    .header__body .middle h2 {padding: 0;}
    .teachnumber {padding: 40px 0 30px;}
    .teachtext {flex-direction: column; padding-bottom: 30px;}
    .teachtext__left {align-items: center; flex-basis: 0; }
    .block2 {justify-content: center; padding: 40px 0;}
    .block2__right {text-align: center; align-items: center;}
    .block2-left {display: none;}
    .popular {padding: 40px 0;}
    .cta {padding-bottom: 0;}
    .cta__text {padding-left: 50%;}
    .cta__text h1 {font-size: 30px; line-height: 1.1;}
    .footer__left {padding: 0 5%;}
}

@media (max-width: 600px) {
    .popular h4 {font-size: 18px;}
    .cta__text {padding-left: 44%; padding-top: 0;}
    .footer {flex-direction: column; gap: 40px; padding-bottom: 0;}
    .footer__left {flex-basis: 0; gap: 10px;}
    .footer__right {flex-basis: 0; gap: 20px;}
    .footer__left ul {padding: 0;}
}

@media (max-width: 550px) {
    .cta {background: none;}
    .cta__text {padding: 0; gap: 20px; text-align: center; align-items: center; width: fill;}
    .cta h1 {padding: 0;}
    .cta h3 {padding: 0;}
    footer .footer2 {flex-direction: column;}
    footer .footer2 span {flex-direction: column;}
}